.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    font-family: cursive;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color:coral;
    border: 50px;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover 
  {background-color:rgb(101, 139, 221)}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;

  }